<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="style.css">
        <title>BiblioPhile Corner</title>
    </head>

    <body>
        <div class = "grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">
                        &#9776;
                    </button>
                    <a href=index.html>BiblioPhile Corner</a>
                </div>
                <div class="header-links">
                    <a href="cart.html"> Cart</a>
                    <a href="signin.html"> Sign In</a>
                </div>
            </header>
        
            <aside class="sidebar">
                <h3> Categories</h3>
                <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html"> Novels</a>
                </li>
                <li>
                    <a href="index.html"> Study Materials</a>
                </li>
            </ul>
            </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                <li>
                <div class="product">
                    <img class="product-image" src="images/fault.jpeg" alt="product">
                    <div class="product-name"> 
                        <a href="product.html"> Fault in our stars </a>
                    </div>
                    <div class="product-author"> John Green</div>
                    <div class="product-price">₹200</div>
                    <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
                </li>
                <li>
                <div class="product">
                    <img class="product-image" src="images/visit.jpeg" alt="product">
                    <div class="product-name"> 
                        <a href="product.html"> A Visit from the Goon Squad </a>
                    </div>
                    <div class="product-author"> Jennifer Egan</div>
                    <div class="product-price">₹250</div>
                    <div class="product-rating">4 Stars(10 Reviews)</div>
                    </div>
                    </li>
                    <li>
                <div class="product">
                     <img class="product-image" src="images/thou.jpeg" alt="product">
                     <div class="product-name"> 
                     <a href="product.html"> The Thousand Autumns of Jacob De Zoet </a>
                     </div>
                     <div class="product-author"> David Mitchell</div>
                     <div class="product-price">₹300</div>
                     <div class="product-rating">3.5 Stars(10 Reviews)</div>
                     </div>
                 </li>
                 <li>
                     <div class="product">
                     <img class="product-image" src="images/thou.jpeg" alt="product">
                     <div class="product-name"> 
                     <a href="product.html"> The Thousand Autumns of Jacob De Zoet </a>
                     </div>
                     <div class="product-author"> David Mitchell</div>
                     <div class="product-price">₹300</div>
                     <div class="product-rating">3.5 Stars(10 Reviews)</div>
                 </div>
                 </li>
                 <li>
                    <div class="product">
                    <img class="product-image" src="images/thou.jpeg" alt="product">
                    <div class="product-name"> 
                    <a href="product.html"> The Thousand Autumns of Jacob De Zoet </a>
                    </div>
                    <div class="product-author"> David Mitchell</div>
                    <div class="product-price">₹300</div>
                    <div class="product-rating">3.5 Stars(10 Reviews)</div>
                    </div>
                 </li>
                 <li>
                     <div class="product">
                     <img class="product-image" src="images/thou.jpeg" alt="product">
                     <div class="product-name"> 
                     <a href="product.html"> The Thousand Autumns of Jacob De Zoet </a>
                    </div>
                     <div class="product-author"> David Mitchell</div>
                     <div class="product-price">₹300</div>
                     <div class="product-rating">3.5 Stars(10 Reviews)</div>
                    </div>
                 </li>
                 <li>
                     <div class="product">
                     <img class="product-image" src="images/thou.jpeg" alt="product">
                     <div class="product-name"> 
                     <a href="product.html"> The Thousand Autumns of Jacob De Zoet </a>
                     </div>
                     <div class="product-author"> David Mitchell</div>
                     <div class="product-price">₹300</div>
                     <div class="product-rating">3.5 Stars(10 Reviews)</div>
                 </div>
                 </li>
                 <li>
                     <div class="product">
                     <img class="product-image" src="images/thou.jpeg" alt="product">
                     <div class="product-name"> 
                     <a href="product.html"> The Thousand Autumns of Jacob De Zoet </a>
                     </div>
                     <div class="product-author"> David Mitchell</div>
                     <div class="product-price">₹300</div>
                     <div class="product-rating">3.5 Stars(10 Reviews)</div>
                 </div>
                 </li>
                  <li>
                     <div class="product">
                     <img class="product-image" src="images/thou.jpeg" alt="product">
                     <div class="product-name"> 
                     <a href="product.html"> The Thousand Autumns of Jacob De Zoet </a>
                     </div>
                     <div class="product-author"> David Mitchell</div>
                     <div class="product-price">₹300</div>
                     <div class="product-rating">3.5 Stars(10 Reviews)</div>
                 </div>
                 </li>
                 <li>
                    <div class="product">
                    <img class="product-image" src="images/thou.jpeg" alt="product">
                    <div class="product-name"> 
                    <a href="product.html"> The Thousand Autumns of Jacob De Zoet </a>
                    </div>
                    <div class="product-author"> David Mitchell</div>
                    <div class="product-price">₹300</div>
                    <div class="product-rating">3.5 Stars(10 Reviews)</div>
                </div>
                </li>
                </ul>
                </div>
                
            </main>

            <footer class="footer">
                All Rights Reserved.
            </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeMenu(){
                document.querySelector(".sidebar").classList.remove("open");
            }
        </script>
    </body>
</html>